
body {
    background-image: url("pic1.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling the header */
.header {
    background-color: #4fb3d2;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.header h1 {
    font-size: 2rem;
}

/* Ordered list and links */
ol {
    list-style-position: inside;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    font-size: 2rem;
    color:#4fb3d2;
}

#e1
{
    font-weight: bold;
    color:black;
}
#e1:hover
{
    color:gold;
}
a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: gold;
}

/* Container for centering the content */
.content {
    text-align: center;
}
